<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog App</title>



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
      .menu {
        float: right;
        margin-right: 100px;
      }

      .menu li {
        display: inline-block;
        margin: 5px 10px;
        padding: 10px 15px;
      }
    </style>
    


</head>
<body>
<header class="container-fluid">
  <nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand font-weight-bold text-success w-25 p-3">Blog App</a>
   
      <ul class="menu">
       <li><a href="{% url 'post-list' %}" class="font-weight-light">Home</a></li>
        <li><a href="" class="font-weight-light">Create Blog</a></li>
        <li><a href="" class="font-weight-light">Contact</a></li>
        <li><a href="" class="font-weight-light">About Us</a></li>
      </ul>
</nav>
</header>



{% block content %}

{% endblock %}


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>