{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %}
<div class="container">
  <div class="jumbotron w-75 p-10">
  <div class="d-none d-md-block"><h1 class="display-4"> {{post.title}}
</h1></div>
  <p class="lead">{{post.body|truncatewords:250}}</p>
  <hr class="my-4">
    <p>Author: {{post.author}}</p>
    <p>Published Date: {{post.publish}}</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'post-detail' pk=post.pk %}" role="button">Read Article</a>
  </p>
</div>
</div>


{% endfor%}


{% include "blog/paginator.html" with page=posts %}

{% endblock %}