{% extends 'blog/base.html' %}

{% block content %}
<div class='container-fluid'>

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} ">
    {{ message }}


</div>

{% endfor %}
{% endif %}
<hr>


Title: {{posts.title}}<br>
Body: {{posts.body}}<br>
slug: {{posts.slug}}<br>
published: {{posts.publish}}
<hr>


{% with comments.count as total_comments %}
  <h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </h2>
{% endwith %}
<hr>






{% for comment in comments %}
<div class='comment'>
<h3>
{{comment.name}}
</h3>
<p class ='info'>
{{comment.created}}
</p>
{{comment.body| linebreaks}}
</div>
{% empty %}
<p>There are no comments yet.</p>

{% endfor %}

<hr>

{% comment %} Load all comments {% endcomment %}




<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
 See All Comments
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">All Comments </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="modal-body">
          {% for comment in all_comments %}
          <div class='comment'>
          <p>
          {{comment.name}}
          </p>
          <p class ='info'>
          {{comment.created}}
          </p>
          <h4>{{comment.body| linebreaks}}</h4>
          </div>
          <hr>
          {% empty %}
          <p>There are no comments yet.</p>

{% endfor %}


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>














<br>
<hr>
<div class='container-fluid'>
<h2>Add a new Comment: </h2>
<form method="POST">
{% csrf_token %}
{{form.as_p}}
<p><input type='submit' value='Add Comment'></p>
</form>
</div>
</div>
{% endblock %}